.header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 80px;
}

.main-title {
    margin-top: 150px;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}
