

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $background-header-main;
}

.hero-title {
  margin-top: 50px;
}

.logo {
  height: 30px;
}

.nav {
  display: none;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.link {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.link:hover {
  color: $color-hover-header;
}

.link-signup:before {
  padding-left: 4px;
  content: '|';
  color: $color-text;
}
.main {
  margin-top: 60px;
  /* esto es lo que mide el header */
}